<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755545286312-dqkbq6rmqd3fe7sdjgvvimbbbt8rb9kc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755545286312-dqkbq6rmqd3fe7sdjgvvimbbbt8rb9kc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>755545286312-ahf14ta68v5rjregq42omqjsnbbal6o9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSe6jzrIhPDqvXv9eDBdYeLmVhywN_-Hg</string>
	<key>GCM_SENDER_ID</key>
	<string>755545286312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appCode.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>inventory-management-sys-e6b8a</string>
	<key>STORAGE_BUCKET</key>
	<string>inventory-management-sys-e6b8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755545286312:ios:53474209b00c736575049d</string>
</dict>
</plist>